{{ define "main" }}
<div class="page">
<h1 class="title">{{ .Title }}</h1>
{{ .Content }}
</div>
<div class="links">
{{ range first 4 .Site.Pages.ByPublishDate.Reverse }}
	<div class="entry">
		<h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
		<p class="summary">{{ .Summary }}</p>
	</div>
{{ end }}
</div>
{{ end }}
