<div class="header">
	<h1 class="site-title"><a class="title" href="/">{{ .Site.Title }}</a></h1>
	<nav class="main">
		{{ range .Site.Menus.main }}
		<a class="nav-link" href="{{ .URL }}">{{ .Name | safeHTML }}</a>
		{{ end }}
	</nav>
</div>
