<div class="meta">
{{ $dateFormat := "2006-01-02" }}
{{ $pubDate := .PublishDate.Format $dateFormat }}
{{ $modDate := .Lastmod.Format $dateFormat }}
<span class="publish date">published <time datetime="{{ $pubDate }}">{{ $pubDate }}</time></span>
{{ if ne $pubDate $modDate }}
<span class="update date">updated <time datetime="{{ $modDate }}">{{ $modDate }}</time></span>
{{ end }}
{{ with .Params.tags }}
{{ range . }}
{{ $href := print (absURL "tags/") (urlize .) }}
<a class="tag" href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
</div>
